body{
    background: rgb(152,42,214);
    background: linear-gradient(90deg, rgba(152,42,214,1) 16%, rgba(22,16,145,1) 65%, rgba(127,46,177,1) 100%);

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.form{
    width: 500px;
    height: 420px;
    background-color: #fff;
    border-radius: 10px;
}
h2{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 170px;
    padding-top: 30px;
}
.card{
    display: flex;
    padding: 10px;

}
.card_left{
    margin-left: 10px;


}
.card_right{
    margin-left: 20px;
}
label{
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    margin: 5px;
    margin-bottom: 10px;
    padding: 7px;
    border-radius: 5px;
}
.field{
    width: 190px;
}
.label{
    font-size: 17px;
    font-weight: 700;
    
}
button{
    padding: 8px;
    margin-top: 7px;
    margin: 5px;
    width: 78px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,67,253,1) 100%);
}
.cen{
    background: #f03a08;
}
